name: Build and Deploy React App

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # needed to get all tags

      # ✅ NEW STEP — AUTO VERSION TAG
      - name: Create Auto Version Tag
        id: tag_version
        run: |
          git fetch --tags

          # Get latest tag or default v1.0.0
          latestTag=$(git tag -l "v*" | sort -V | tail -n 1)

          if [ -z "$latestTag" ]; then
            newTag="v1.0.0"
          else
            version=${latestTag#v}
            IFS='.' read -r major minor patch <<< "$version"
            patch=$((patch + 1))
            newTag="v$major.$minor.$patch"
          fi

          echo "New Tag: $newTag"

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git tag $newTag
          git push origin $newTag

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: gh-pages
